ul {
    list-style:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    right:10%;
}
li {
    margin-right: 20px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(1, 109, 211);
    color: white;
}
.nav-bar {
    position:sticky;
    top:0;
}
.logo {
    position: absolute;
    height:100%;
    width:20%;
    left:0;
  }
