.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00ADB5;
}
.card {
  align-items: center;
  width: 40%;
  height: 50vh;
  margin:10px;
  background-color: #EEEEEE;
  box-shadow: black 1px 1px 10px;
  border-radius: 20px;
  background-size: cover;
}
.card-cover {
    max-height: 100%;
    max-width: 90%;
    background-color:rgba(255, 255, 255, 0.76);
    margin: auto;
    margin-top: 8%;
    border-radius: 20px;
    
}
.card-title {
    color: #393E46;
    font-family:Georgia;
}
.card-text {
    color: #222831;
}
.card-img {
    object-fit:cover;
    max-width: 50%;
    max-height: 50%;
}
.card-button {
    margin-bottom: 10px;
    font-family: monospace;
    width: 20vw;
    height: 5vh;
    border-radius: 0;
}
p {
    font-family:'Courier New', Courier, monospace;
}
.card-button:hover{
    background-color:rgb(10, 3, 3);
    color: white;
    
}
